snippet pdb
	import ipdb; ipdb.set_trace()

snippet nums
	nums = [int(x) for x in raw_input('').split(' ')]

snippet num
	num = [int(x) for x in raw_input('').split(' ')][0]

snippet str
	word = raw_input('')
